/*from https://codepen.io/kizu/pen/etmzx*/
random(min,max)
  return floor(math(0, 'random')*(max - min + 1) + min)

#B3_1{
  x:random(0,1100)px;
  y:random(0,400)px;
  height:random(0,20)px;
  width:random(0,20)px;
  stroke:black;
}



